.card{
    background-color: transparent !important;
    border: 0px !important;
    height: unset;
    margin-top: 2vh;
    overflow-y:auto; 
    justify-content: center;
}


.sub-site-title{
    margin-top: -40px;
    font-size: 8vh;
}

.site-title{
    color: #fff;
    text-decoration: none;
    font-size: 16vh;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0 0 20px rgba(41, 16, 30, 0.4), 0 0 5px rgba(91, 75, 75, 0.5);
    cursor: default;
}


.ampersand-adjust{
    font-size: 75%;
}
  
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
    .card{
        height: 80vh;
        margin-top: 0;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}