
.facebook{
  background: url(https://i.imgur.com/GtOrqKK.png);
  background-size: cover;
  width: 35px;
  height: 35px;
  display: inline-block;
  float: right;

  
  transition: 0.3s ease-in-out;
    
}

.facebook:hover{

  transform: scale(1.2);
}